services:
  dockerlock:
    build:
      context: .
      dockerfile: Dockerfile
    image: vicf123/docker-condalock-jupyterlab:latest
    container_name: dockerlock
    ports:
      - "8888:8888"
    volumes:
      - ./:/workspace
    working_dir: /workspace
    stdin_open: true
    tty: true